.transactionHistory {
  width: 800px;
  height: 1000px;
  text-align: center;
  margin: 0 auto;

  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  .thead {
    background-color: greenyellow;
    color: grey;
    height: 50px;
    text-transform: uppercase;
  }
  tbody {
    color: grey;
  }
}
